.menu-1 {
    display: flex;
    column-gap: 58px;
    align-items: center;

    &__input {
        display: none;
    }

    &__lbl {
        display: none;
    }

    @include for-tablet {
        column-gap: 40px;
    }

    @include for-phone {

        column-gap: 35%;

        &__lbl {
            display: block;
        }
    }
}

nav {
    padding: 36px 0;

}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include for-phone {
        flex-direction: column;
        width: 50%;
        height: 90vh;
        position: absolute;  
        align-items: flex-start;   
        top: 0;
        left: 0;
        background-color:  #333A44;
        transform: translateY(-150%);
        padding: 30px ;
    }



    &__bar {
        display: flex;
        column-gap: 32px;

        @include for-tablet {
            column-gap: 18px;
        }

        @include for-phone {
            flex-direction: column;
            row-gap: 32px;
            text-align: left;

        }

        

        &-link {
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            text-transform: capitalize;
            color:$main-color;

            @include for-phone {
                color: #E5ECF4;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }


    
}

.menu-1__input:checked~.menu {
    @include for-phone {
        transform: translateY(12%);
    }
}