/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/space-mono-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"), url("../fonts/space-mono-v12-latin-regular.ttf") format("truetype"), url("../fonts/space-mono-v12-latin-regular.svg#SpaceMono") format("svg"); /* Legacy iOS */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/space-mono-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"), url("../fonts/space-mono-v12-latin-700.ttf") format("truetype"), url("../fonts/space-mono-v12-latin-700.svg#SpaceMono") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Space Mono", serif;
}

.container {
  max-width: 1146px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  max-width: 180px;
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  border: none;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .btn {
    padding: 10px 20px;
  }
}

.menu-1 {
  display: flex;
  -moz-column-gap: 58px;
       column-gap: 58px;
  align-items: center;
}
.menu-1__input {
  display: none;
}
.menu-1__lbl {
  display: none;
}
@media (max-width: 768px) {
  .menu-1 {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 576px) {
  .menu-1 {
    -moz-column-gap: 35%;
         column-gap: 35%;
  }
  .menu-1__lbl {
    display: block;
  }
}

nav {
  padding: 36px 0;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .menu {
    flex-direction: column;
    width: 50%;
    height: 90vh;
    position: absolute;
    align-items: flex-start;
    top: 0;
    left: 0;
    background-color: #333A44;
    transform: translateY(-150%);
    padding: 30px;
  }
}
.menu__bar {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 768px) {
  .menu__bar {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
@media (max-width: 576px) {
  .menu__bar {
    flex-direction: column;
    row-gap: 32px;
    text-align: left;
  }
}
.menu__bar-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  color: #939CAA;
}
@media (max-width: 576px) {
  .menu__bar-link {
    color: #E5ECF4;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 576px) {
  .menu-1__input:checked ~ .menu {
    transform: translateY(12%);
  }
}/*# sourceMappingURL=main.css.map */